[defaults]
# Inventory - specify with -i flag: production.yml or dev.yml
# inventory = inventory

# Vault
vault_password_file = .vault_pass

# Display
stdout_callback = default
callbacks_enabled = timer

# Behavior
inject_facts_as_vars = False
retry_files_enabled = False
host_key_checking = False


# Performance
forks = 5
pipelining = True

interpreter_python = /usr/bin/python3

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

