[defaults]
# Inventory
inventory = inventory/localhost.yml # Path to the inventory file

# Display
stdout_callback = default
callbacks_enabled = timer

# Behavior
inject_facts_as_vars = False
retry_files_enabled = False
host_key_checking = False


# Performance
forks = 5
pipelining = True
